<h1>{{typeReq}} Request Received</h1>
<ul>
  {{#each getList}}
    <li>{{this.name}}: {{this.value}}
  {{/each}}
</ul>

<ul>
  {{#each postList}}
    <li>{{this.name}}: {{this.value}}
  {{/each}}
</ul>
